@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.main-page-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;

    h1{
        font-size: 50px;
        font-family: 'Orbitron', sans-serif;
        color: #39FF14;
        text-align: center;
    }
    
    .display {
        display: flex;
        justify-content: center;
        max-width: 1200px;
        gap: 10px;
    
        .square {
            width: 70px;
            height: 70px;
            border: 3px solid rgba(255, 255, 255, 0.5);
            border-radius: 15px;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
            color: #39FF14;
            font-family: 'Orbitron', sans-serif;
        }
    }
    .error{
        display: flex;
        align-items: center;
        i{
            font-size: 24px;
            color: red;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            margin-right: 5px;
        }
        p{
            align-items: center;
            justify-content: center;
            color: red;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            font-family: 'Orbitron', sans-serif;
            font-size: 20px;
        }
    }
    .buttons {
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        flex-wrap: wrap;
        gap: 10px;

        .row-div{
            display: flex;
            justify-content: space-between;
            gap: 10px;
            button {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                border: 1px solid #000;
                border-radius: 7px;
                box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
                font-size: 40px;
                background-color: #000000;
                color: #39FF14;
                font-family: 'Orbitron', sans-serif;
                p{
                    text-align: center;
                }
            }
        }
    }
}
