.title-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 80px;
    h1{
        font-family: 'Juice ITC';
        src: url('/src/assets/fonts/juice-itc.otf') format('truetype');
        font-weight: bold;
        color: #39FF14;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        font-size: 60px;
    }
}
.main-div{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 100px);
    .left-div{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        flex: 1;
        max-width: 400px;
        h3, p{
            color: #FFF;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            width: 400px;
            text-align: left;
        }
    }
    .middle-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        max-width: 400px;
        h3, p{
            color: #FFF;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            width: 400px;
            text-align: center;
        }
    }
    .right-div{
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: center;
        flex: 1;
        max-width: 400px;
        h3, p{
            color: #FFF;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            width: 400px;
            text-align: right;
        }
    }
}