<div class="title-div">
    <h1>
        Sapiência
    </h1>
</div>
<div class="main-div" *ngIf="users">
    <div class="left-div">
        <h3>
            {{ users.charName }}
        </h3>
        <p>
            {{ users.playerName }}
        </p>
    </div>
    <div class="middle-div">
        <h3>
            {{ users.charName }}
        </h3>
        <p>
            {{ users.playerName }}
        </p>
    </div>
    <div class="right-div">
        <h3>
            {{ users.charName }}
        </h3>
        <p>
            {{ users.playerName }}
        </p>
    </div>
</div>