h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Juice ITC';
    src: url('/src/assets/fonts/juice-itc.otf') format('truetype');
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 40px;
}
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .user-div{
        cursor: pointer;
        width: 500px;
        margin: 5px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #88E07D;
        border-radius: 15px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

        .char-player-names{
            margin-left: 20px;
            h2{
                text-align: left;
                font-size: 18px;
                color: #FFF;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            }
            h3{
                text-align: left;
                font-size: 18px;
                color: #39FF14;
            }
        }
        .race-class-div{
            margin-right: 20px;
            p{
                text-align: right;
                font-size: 18px;
                color: #FFF;
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
            }
        }
    }
}